NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_REST_URL=
SUPABASE_NEWS_TABLE=
DATABASE_URL=
NEWSDATA_API_KEY=
GNEWS_API_KEY=
MEDIASTACK_API_KEY=
GEMINI_API_KEY=
